@import './colors.scss';
@import './components/navbar.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;


$danger: $app-color1;
$theme-shadow: $app-color1;
$card-radius: 0rem;

$navbar-item-hover-color: white;
$navbar-item-hover-background-color: $app-hover-color;
$navbar-item-color: $app-color1;
$menu-item-active-background-color: $app-color1;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Franklin Gothic Medium','Franklin Gothic Heavy','Franklin Gothic Book Italic','Franklin Gothic Book','Franklin Gothic Heavy Italic','Franklin Gothic Medium','Franklin Gothic Demi','Arial Narrow', Arial, sans-serif;
}

.main {
  width: 100%;
  height: 100%;
}

.video {
  width: 100%;
  height: 100vh;
  object-fit:cover;
  
}

.flex {
  display: flex;
}

// .logo-size-m {
//   width: 70%;
//   height: auto;
// }

.padding{
  padding: 1rem;
}

.align-left{
  text-align: left;
}

.align-right{
  text-align: right;
}

.align-center{
  text-align: center;
}

.logo-footer {
  position: relative ;
  width: 25%;
  height: auto;
  top: 15%;
}

.popup {    
  position: absolute;
  height: 80%;
  width: 70%;
  left: 15%;
  right: 25%;
  top: 15%;
  bottom: 25%;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: white;
  text-align: center;
  z-index: 999;
}

.circle-grid {
  position: sticky;
  left: 5%
}

.circle-text-ml {
  margin-left: 2.5rem;
}



@media screen and (max-width: 1920px) {
  .circle-grid-xl {
    position: relative;
    left:5%
  }



}

@media screen and (max-width: 1400px) {
  .video {
    width: 100vw;
    height: 100vh;
    object-fit:cover;
  }

  .popup {    
    position: absolute;
    height: 80%;
    width: 80%;
    left: 10%;
    right: 25%;
    top: 15%;
    bottom: 25%;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    z-index: 999;
  }

  .circle-grid {
    left: 0%;
  }

  .circle-text-ml {
    margin-left: 4.5rem;
  }

  .center-why-us {
    position: relative;
    right: 10%;
  }

  .circle-grid-xl {
    position: relative;
    left: 0%
  }

  //   .hard-mt-62 {
  //     position: absolute;
  //   margin-left: 62rem; /* 256px */
  // }



}

@media screen and (max-width: 720px) {
  .video {
    display: hidden;
    width: 100%;
    height: 100vh;
    object-fit:cover;
  }

  .popup {    
    position: absolute;
    height: 80%;
    width: 100%;
    left: 5%;
    right: 25%;
    top: 15%;
    bottom: 25%;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    z-index: 999;
  }
  .circle-text-ml {
    margin-left: 1rem;
  }

  .center-why-us {
    position: relative;
    right: 10%;
  }

  .circle-grid-xl {
    position: inherit;
    left: 0%
  }

}
 

@media screen and (max-width: 660px) {
  .video {
    width: 100%;
    height: 100vh;
    object-fit:cover;
  }
  
  .logo-footer {
    position: relative ;
    width: 50%;
    height: auto;
    top: 15%;
  }

  .popup {    
    position: absolute;
    height: 73%;
    width: 90%;
    left: 5%;
    right: 25%;
    top: 14%;
    bottom: 25%;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    text-align: center;
    z-index: 999;
  }

  .circle-text-ml {
    margin-left: 1rem;
  }
  .center-why-us {
    position: relative;
    right: 0%;
  }

  .circle-grid-xl {
    position: inherit;
    left: 0%
  }

}

@media screen and (max-width: 350px) {
  .video {
    width: 100%;
    height: 100vh;
    object-fit:cover;
  }

    .logo-footer {
      width: 50%;
      height: auto;
      top: 15%;
    }

    .popup {    
      position: absolute;
      height: 75%;
      width: 90%;
      left: 5%;
      right: 25%;
      top: 15%;
      bottom: 25%;
      border-radius: 5px;
      border: 1px solid grey;
      background-color: white;
      text-align: center;
      z-index: 999;
    }

    .circle-text-ml {
      margin-left: 1rem;
    }

    .center-why-us {
      position: relative;
      right: 0%;
    }

    .circle-grid-xl {
      position: inherit;
      left: 0%
    }

}